body{
    background-color: black;
    color: white;
}

.container{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    background-color: rgb(48,46,48, 0.815);
    border-radius: 20px;
}

.heading{
    font-family: 'Lobster', cursive;
}

#title{
    font-size: 80px;
    text-align: center;
}

#span1{
    color: red;
}

#img-div{
    /* border: 2px solid red; */
    text-align: center;
}

#image{
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
}

#info{
    /* border: 1px solid red; */
    width:80%;
    margin: 20px auto;
    text-align: justify; /*iki yana yaslar yazıyı*/
    font-size: 1.5rem;
}

#marvel{
    /* border: 1px solid red; */
    color: red;
    width: 80%;
    margin: 20px auto;
    /* margin-left: 10%; */
}

ul{
    width: 80%;
    margin: auto;
}
li{
    font-size: 1.5rem;
    line-height: 3rem;
}

 #footer{
    /* border: 1px solid red; */
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
 }
 
 #link{
    text-decoration: none;
    color: white;
    border:2px solid darkgoldenrod;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
 }

 #link:hover{
    background-color: gray;
    color:black;
 }