*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width:80%;
    background-color: rgb(238, 198, 238);
    margin:auto;
    border-radius: 10px;
}

.header{
    /* border: 1px solid red; */
    text-align: center;
}

#title{
    font-size: 50px;
    color:purple;
    font-weight: bold;
    padding:10px;
    margin:30px 0px;
}

.header .img{
    width:200px;
}

.content{
    background-color: rgb(162, 105, 216);
    color:white;
    padding: 30px;
    border-radius: 20px;
    margin:75px;
}

.indent{
    color:yellow;
    border-left: 3px solid yellow;
    padding-left:15px;
}

.content span{
    background-color: rgb(109, 109, 12);
    border-radius: 3px;
    color:black;
}

.footer{
    text-align: center;
    margin-top: 20px;
    padding:30px 0px;
}

.footer #button{
    background-color:rgb(214, 214, 78);
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;   
}

